.footer__columns{
    padding: 60px 0 40px;
    margin: 0 auto;
    min-height: 350px;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;  
  }